<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin后台管理</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../../static/css/Header-Blue.css">
    <link rel="stylesheet" href="../../static/css/Header-Dark.css">
    <link rel="stylesheet" href="../../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../../static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="../../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../../static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
<div class="header-dark">
    <nav class="navbar navbar-default navigation-clean-search">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="#"
                                          style="width: 202px;font-size: 21px;font-style: italic;">Admin后台管理</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="{% url 'userManage' %}"
                                               style="margin: 0px;padding: 15px 18px;margin-left: 35px;font-size: 17px;font-style: normal;">用户管理</a>
                    </li>
                    <li role="presentation"><a href="{% url 'dataManage' %}" style="margin-left: 26px;font-size: 17px;">数据集管理</a></li>
                    <li role="presentation"><a href="#" style="margin-left: 26px;font-size: 17px;">模型优化</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="cookievalue" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">查看个人信息</a></li>
                            <li><a href="{% url 'userdetail' %}">编辑个人信息</a></li>
                            <li><a href="{% url 'editPwd'%}">修改密码</a></li>
                            <li><a href="{% url 'logout' %}">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
<script>
    const cookies = document.cookie.split(";");
    console.log(cookies)
    for (let cookie of cookies) {
        console.log(cookie.trim());
        cookie = cookie.trim();
        if (cookie.startsWith("username=")) {
            const value = cookie.substring("username=".length, cookie.length);
            console.log(value);
            document.getElementById("cookievalue").innerHTML = value;
            break;
        }
        console.log("false")
    }
</script>
</div>
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>